@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

* {
  text-decoration: none;
  color: inherit;
  font-family: "Open sans";
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #eeeeee;
  height: 100vh;
  margin: 0;
  min-width: 330px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 100%;
}
.calculator {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
  background-color: rgb(32, 32, 32);
  width: 300px;
  height: 500px;
  padding: 5px 5px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 8px 8px 4px #141414;
}

.display-container {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding: 5px 10px;
}
.display {
  font-size: 3em;
  color: white;
}

button {
  background-color: rgb(179, 172, 172);
  font-size: 1.8em;
  border: none;
  border-radius: 20px;
  box-shadow: 3px 3px black;
}
.buttons {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px 5px;
  padding: 10px;
  max-width: 280px;
}
.buttons :hover {
  background-color: rgb(216, 216, 216);
}
button:active,
.active {
  box-shadow: none;
  border-top: 2px solid black;
  border-left: 2px solid black;
}
.operators,
.result {
  background-color: #ee3e3e;
}
.operators:focus {
  outline: none;
  background-color: white;
  color: #ee3e3e;
}
.clear,
.backspace,
.percent {
  background-color: #f19f9f;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
footer p {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px 20px;
}
address {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 5px 20px;
  gap: 10px;
}
address a {
  display: flex;
  font-style: normal;
}
img {
  height: 25px;
  width: 25px;
}

@media (max-width: 520px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer p {
    margin-bottom: 0;
  }
  footer address {
    margin-bottom: 10px;
  }
}
